* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colori */
    --Dark-Purple: hsla(273, 85%, 13%, 1);
    --Eucaplyptus: hsla(150, 100%, 63%, 1);
    --Davys-Grey: hsla(271, 12%, 34%, 1);
    --Ghost-White: hsla(274, 100%, 99%, 1);
    --White: hsla(0, 0%, 100%, 1);
    /* Typography */
    
}