* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    background-color: hsla(273, 85%, 13%, 1);
    color: white;
    padding: 30px 20px 0;
}

.navbar {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.container__logo-light {
    width: 97px;
    height: 26px;
}
.logo-light {
    background-image: url(/starter-code/assets/images/logo-light.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* Personalizazione link */
a {
    color: white;
    text-decoration: none;
    border-bottom: 3px solid hsla(150, 100%, 63%, 1);
}

.section1 {
    color: white;
}

.background {
    position: relative;
}

.background svg {
    position: absolute;
    z-index: -10;
    top: -30px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container__cnt {
    width: 90%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.container__cnt__title {
    color: hsla(0, 0%, 100%, 1);
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
}

.container__cnt__button input[type="button"] {
    background-color: hsla(150, 100%, 63%, 1);
    color: hsla(273, 85%, 13%, 1);
    text-align: center;
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.16px;
    padding: 10px 20px;
    border: none;
}

.container__cnt__phone {
    width: 90%;
    height: auto;
    margin-top: 40px;
}

.container__cnt__phone__img img {
    width: 100%;
    height: 100%;
}

/* ---------- Inizio seconda sezione ---------- */

.background__pink {
    /* border: 2px solid red; */
    position: relative;
    z-index: -100;
    top: -108px;
}

.background__pink svg {
    position: absolute;
    z-index: -10;
}

/* serve solo per fare spazio */
.block {
    width: 100%;
    height: 20px;
}

/* .block .block__section2 {
    width: 100%;
    height: 10px;
} */

.section2 .container {
    flex-direction: column;
    align-items: center;
    justify-content: normal;
}

.section2 .container__cnt {
    gap: 40px;
}

.container__cnt__circle {
    border: 2px solid hsla(271, 12%, 34%, 1);
    width: 48px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__cnt__circle .circle {
    color: var(--Dark-Purple, #24053E);
    text-align: center;
    font-family: "Fraunces 144pt";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.container__cnt__light {
    text-align: center;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container__cnt__light__title .title {
    color: var(--Dark-Purple, #24053E);
    font-family: "Fraunces 144pt";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    /* border: 2px solid red; */
}

.container__cnt__light__para .para {
    color: var(--Davys-Grey, #584D62);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* border: 2px solid green; */
}

/* ---------- Inizio terza sezione ---------- */

/* .block .block__section3 {
    height: 80px;
} */

.section3 .container__cnt {
    /* margin-top: 170px; */
    margin-top: 0;
}

.section3 .container__cnt__rectangle {
    width: 100%;
    background-color: hsla(273, 85%, 13%, 1);
    padding: 30px 20px;
}

.section3 .container__cnt__light__title .title,
.section3 .container__cnt__light__para .para,
.section3 .container__cnt__rectangle {
    color: white;
}

.container__cnt__rectangle .container__cnt {
    margin-top: 0;
    gap: 30px;
}

.container__cnt__img {
    width: 268px;
    height: 267px;
    position: relative;
    /* position: absolute; */
}

.container__cnt__img__founder {
    background-image: url(/starter-code/assets/images/image-founder.webp);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 108px;
    z-index: -10;
}

/* ---------- Inizio footer ---------- */

.container__cnt__footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 60px;
    align-items: center
}

.container__cnt__footer__logo {
    width: 97px;
    height: 26px;
}

.logo-dark {
    background-image: url(/starter-code/assets/images/logo-dark.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container__cnt__footer__social {
    width: 100%;
    height: 20px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.container__cnt__footer__social__facebook,
.container__cnt__footer__social__twitter,
.container__cnt__footer__social__instagram {
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.container__cnt__footer__social__facebook {
    background-image: url(/starter-code/assets/images/icon-facebook.svg);
}

.container__cnt__footer__social__twitter {
    background-image: url(/starter-code/assets/images/icon-twitter.svg);
    height: 17px;
}

.container__cnt__footer__social__instagram {
    background-image: url(/starter-code/assets/images/icon-instagram.svg);
}