* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colori */
    --Dark-Purple: hsla(273, 85%, 13%, 1);
    --Eucaplyptus: hsla(150, 100%, 63%, 1);
    --Davys-Grey: hsla(271, 12%, 34%, 1);
    --Ghost-White: hsla(274, 100%, 99%, 1);
    --White: hsla(0, 0%, 100%, 1);
    /* Typography */
    --Heading: 'Fraunces', serif;
    --Heading-L-size: 80px;
    --Heading-M-size: 50px;
    --Heading-S-size: 28px;

    --Body: 'Manrope', sans-serif;
    --Body-size: 16px;

    --Slim: 200;
    --Regular: 400;
    --Semi-Bold: 600;
    --Bold: 700;

    --L-line-height: 50px;
    --M-line-height: 36px;
    --S-line-height: 28px;
}

body,
html {
    /* width: 375px; */
    height: 2406px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--White);
    z-index: 999;
}

.logo-light {
    background-image: url(/starter-code/assets/images/logo-light.svg);
    width: 95px;
    height: 25px;
}

.navbar {
    background: var(--Dark-Purple);
    height: 50px;
    padding: 10px 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span .link {
    color: var(--White, #FFF);
    font-family: var(--Body);
    font-size: var(--Body-size);
    font-style: normal;
    font-weight: var(--Bold);
}

.rectangle {
    width: 100%;
    height: 3px;
    background-color: var(--Eucaplyptus);
    margin-top: 5px;
}

section {
    margin-top: 50px;
    height: 825px;
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    position: absolute;
    z-index: -10;
}

.container {
    width: 90%;
    height: 75%;
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    font-family: var(--Heading);
    font-weight: var(--Semi-Bold);
    font-size: var(--Heading-M-size);
    line-height: var(--Heading-M-line-height);
    text-align: center;
}

input[type="button"] {
    background-color: var(--Eucaplyptus);
    color: var(--Dark-Purple);
    border: none;
    padding: 15px 20px;
    font-family: var(--Body);
    font-size: 1.2rem;
    font-weight: 800;
}

.phone-img {
    background-image: url(/starter-code/assets/images/image-hero.webp);
    width: 298.31px;
    height: 178.16px;
    position: relative;
    z-index: 100;
}

.phone-img img {
    width: auto;
    height: 100%;
}

.block {
    content: " ";
    width: 100%;
    height: 150px;
}

.circle {
    border: 2px solid var(--Davys-Grey);
    border-radius: 50%;
    width: 48px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    font-family: var(--Heading);
    font-size: var(--Heading-S-size);
    font-weight: var(--Semi-Bold);
}

.seconda {
    position: relative;
    height: 1070.708px;
    top: -410px;
    z-index: -100;
    width: 100%;
    color: var(--Dark-Purple);
    text-align: center;
}

.seconda .background {
    z-index: -100;
}

.seconda article {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.seconda h3 {
    font-family: var(--Heading);
    font-size: var(--Heading-S-size);
    font-weight: var(--Semi-Bold);
    line-height: var(--S-line-height);
}

.seconda p {
    color: var(--Davys-Grey);
    font-family: var(--Body);
    font-size: var(--Body-size);
    font-weight: var(--Regular);
    line-height: var(--S-line-height);
}

.terza {
    height: auto;
}

section .container-founder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 640px;
}

section .container-founder .image-founder {
    background-image: url(/starter-code/assets/images/image-founder.webp);
    width: 265px;
    height: 267px;
    background-size: cover;
    position: relative;
    z-index: -10;
    top: 50px;
}

.founder {
    background: var(--Dark-Purple);
    color: var(--White, #FFF);
    width: 343px;
    height: 375px;
    padding: 20px;
}

.founder h3 {
    margin-top: 20px;
}

.founder p {
    margin: 20px 10px;
    color: var(--White);
}

footer {
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer {
    width: 116px;
    height: 102.224px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .logo-dark {
    background-image: url(/starter-code/assets/images/logo-dark.svg);
    width: 97px;
    height: 26px;
}

footer .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

footer .faceboock {
    background-image: url(/starter-code/assets/images/icon-facebook.svg);
}

footer .twitter {
    background-image: url(/starter-code/assets/images/icon-twitter.svg);
    height: 17px;
}

footer .instagram {
    background-image: url(/starter-code/assets/images/icon-instagram.svg);
}